@{
    ViewBag.Title = "Home Page";
}


<div class="row">
    <div class="col-md-6" id="logo-contenedor">
        <img src="~/Imagenes/weeclaims.png"/>
    </div>
    <div class="col-md-6" >
        <h1 style="color: blue; ">Registro para aspirantes</h1>
        <br />
        <br />
        <form id="formularioRegistro" method="post">
            <input type="text" name="nombre" id="nombre" class="form-control" placeholder="Nombre de la compañia" aria-label="Nombre de la compañia">
            <br />
            <input type="text" name="cedula" id="cedula" class="form-control" placeholder="Cedula" aria-label="Cedula" maxlength="10" onKeypress="if (event.keyCode < 45 || event.keyCode > 57) event.returnValue = false;">
            <br />
            <input type="text" name="nombreRealcion" id="nombreRealcion" class="form-control" placeholder="Nombre de la persona para contacto" aria-label="Nombre de la persona para contacto">
            <br />
            <input type="text" name="titulo" id="titulo" class="form-control" placeholder="Titulo" aria-label="Titulo">
            <br />
            <input type="email" name="email" id="email" class="form-control" placeholder="Correo electrónico" aria-label="Correo electrónico">
            <br />
            <input type="text" name="telefono" id="telefono" class="form-control" placeholder="Teléfono" aria-label="Teléfono" maxlength="10" onKeypress="if (event.keyCode < 45 || event.keyCode > 57) event.returnValue = false;">
            <br />
            <input type="checkbox" name="aceptaTerminos" id="aceptaTerminos"> He leído y acepto el <button type="button" class="btn btn-link">Aviso de privacidad/Terminos y condiciones</button>
            <br />
            <br />
            <button id="envioFormulario" class="btn btn-primary" disable>Continuar</button>
            <br />
        </form>
    </div>
</div>
<br />
<br />
<br />
<br />
<div id="tableInfo" style="display:none">
    <table class="table">
        <thead>
            <tr>
                <th>Compañia</th>
                <th>Cedula</th>
                <th>Nombre</th>
                <th>Titulo</th>
                <th>Correo</th>
                <th>Telefono</th>
            </tr>
        </thead>
        <tbody id="cuerpoTabla">
        </tbody>
    </table>
</div>